* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background: #ff9de8;
}

.kaartje {
  background: #ffcff1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: baseline;

  a{
    padding: 1em 1.5em;
    background-color: #ff9de8;
    border-radius: 1em;
    text-decoration: none;
    color: #75095c;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: auto;
  width: 1200px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    max-width: 1400px;
  }
}